
.card {
  display: flex;
  flex-flow: column nowrap;
  /* margin: 15px; */

}

.card img{
  /* padding: 15px; */
}

.card div {
  display: flex;
  flex-flow: column nowrap;
  /* padding-left: 15px; */
  padding-right: 15px;
  padding-bottom: 15px;
  /* padding: 0 15px 15px 15px; */
}

.card-category, .card-author {
  font-size: 15px;
  color: grey;
}

.card-title {
  font-size: 25px;
}

