
.card {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px;
  border-top: 4px solid black;

}

.card-img {
  padding: 15px;
}



.card-layout {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 15px 15px 15px;
}

.card-category, .card-author {
  font-size: 15px;
  color: grey;
}

.card-title {
  font-size: 25px;
}


