
.layout-horiz {
  display: flex;
  flex-flow: row nowrap;
}

.layout-vert {
  display: flex;
  flex-flow: column nowrap;
}

.layout-img-right {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.layout-img-left {
  display: flex;
  flex-flow: row nowrap;
}

.layout-top-padding {
  padding-top: 15px;
}

.layout-bottom-padding {
  padding-bottom: 15px;
}

.layout-left-padding {
  padding-left: 15px;
}

.layout-right-padding {
  padding-right: 15px;
}

